<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>

<body>
    <div id="container">
      
        <div id ="headder">
            <img id ="logoimg"src="/imgs/logo.png" width="100" height="100" alt="Logo">
        </div>
        <div id ="indexlink">
        <br>
        <h5 style="text-align: center;">Knowing what's happening today around you? We have alot for to know!</h5>
        <br><br>
        <div class="link">
            <a id="create-acc-link" href="/createUser">Create Account</a>
        </div>
        <br><br>
        <div class="link">
            <h6>Already have an account?  <a id="loginlink" href="/login">Log in</h6>
       
    </div>
</body>
</html> 